<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-5">
    <h1>Purchase Orders</h1>
  </div>
  <div class="col-sm-7">
    <button class="btn btn-primary"><%= link_to 'Create Purchase Order', new_purchase_order_path %></button>
  </div>
</div>

<%= render 'list_purchase_orders' %>
