<div class="card bg-secondary text-white container">
  <div class="card-title">
    <h2>Account Profile</h2>
  </div>
  <div class="card-body">
    <h4>
      <%= @user.username %>
    </h4>
    <%# 0 - purchasing, 1 - admin, 2 - audit %>
    <p>
      <% if @user.rank == 0 %>
      Purchasing
      <% elsif @user.rank == 1 %>
      Admin
      <% elsif @user.rank == 2 %>
      Audit
      <% end %>
    </p>
  </div>
</div>
