/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*/

$dark: #2E3138;
$primary: #6D7CE1;
$navbar-gray: #333746;
$secondary: #333746;
@import "bootstrap";

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  box-shadow: 5px -5px 46px -8px rgba(0, 0, 12, 0.88)
}

/* Style page content */
.shift_right {
  margin-left: 160px; /* Same as the width of the sidebar */
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navbar {
  background-color: #333746;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-shadow: 0px 0px 46px -8px rgba(0, 0, 12, 0.88);
}
.navbar > * {
  box-shadow: 0px 0px 0px 0px;
}

a {
  color: $white;
  font-weight: bold;
}

.card {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
