<div class="navbar text-white d-flex flex-row-reverse">
  <h4 class="d-flex p-2">
    Hello, <%= current_user.username %>
  </h4>
  <div class="d-flex p-3">
    <%= link_to '#', user_path(current_user) %>
  </div>
</div>
